[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
psycopg2-binary = "*"
djangorestframework = "*"
gunicorn = "*"
whitenoise = "*"
django = "===4.0"

[requires]
python_version = "3.7"
